body{
   
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
div.canva {

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(16, 1fr);
    gap: 1px;

}

.square {

    background-color: black;
    width: 5px;
    height: 5px;

}

.resetBtn{
 
  color: white;
  background-color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
 
}

.inputGetBtn{

  color: white;
  background-color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
 
}

.gridChoice {
 
  width: 100px;
 
}